---
title: "Open Up!"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/radio-station.jpg
  actions:
    - label: "Läs mer om projektet"
      url: "/blog/new-project/"
  caption: "[Per Pixel Petersson/imagebank.sweden.se](https://imagebank.sweden.se/terrestrial+radio+station/southern+sweden/bohusl%25C3%25A4n/5238)"
excerpt: "Följ oss på ett spännande äventyr för att skapa nya möjligheter med öppna data"
intro:
  - excerpt: '**Open Up!** är ett projekt av **Open Knowledge Sweden och DIGG** som hjälper offentliga institutioner att publicera mer öppna data kring upphandling och andra aktörer att återanvända den.'
feature_row3:
  - image_path: /assets/images/join-us.jpg
    alt: "join us"
    title: "Vi behöver dig!"
    excerpt: 'Är du en myndighet eller en kommun som vill publicera sin data? En journalist som vill återanvända den?'
    url: "/join-us/"
    btn_label: "Kontakta oss!"
    btn_class: "btn--primary"
feature_row:
  - image_path: /assets/images/prototype.jpg
    alt: "the prototype"
    title: "Nu är vår prototyp öppen till alla!"
    excerpt: 'Skapa visualiseringar och dashboards med öppna upphandlingsdata. Använd våra gäst-uppgifter för att komma in: ***openup@open-knowledge.se*** / ***0penup***'
    url: "https://bi.openup.open-knowledge.se"
    btn_label: "Testa!"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/guide-image.jpg
    alt: "the guide"
    title: "Börja att publicera med vår guide!"
    excerpt: 'Till dig som är handläggare, öppna data ansvarig eller jurist. Hittar du inte svar på din fråga? Kontakta oss så lägger vi till det!'
    url: "/guide"
    btn_label: "Läs vår guide!"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/team.jpg
    alt: "about us"
    title: "Läs med om teamet bakom projektet"
    excerpt: 'Open Up! är ett projekt av Open Knowledge Sweden och DIGG, finansierat av Vinnova'
    url: "/about/"
    btn_label: "Om oss"
    btn_class: "btn--primary"
feature_row5:
  - image_path: /assets/images/radio-station.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/radio-station.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/radio-station.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" type="left" %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="center" %}

{% comment %}{% include feature_row id="feature_row4" %}{% endcomment %}
