{% assign crew=site.crew | where:"lang", page.lang %}

<figure class="third">
  {% for author in crew %}
  <div itemscope itemtype="https://schema.org/Person">

    {% if author.image %}
    <div class="author__avatar">
      <img class="circle border shadow" src="{{ author.image | relative_url }}" alt="{{ author.title }}" itemprop="image" style="display:block;margin-left:auto;margin-right:auto;width:30%;">
    </div>
    {% endif %}

    <div class="author__content">
      <h3 class="author__name" itemprop="name">{{ author.title }}</h3>

      {% if author.mail %}
        <a class="button button--primary button--pill" href="mailto:{{ author.mail }}">
          <i class="fas fa-fw fa-envelope-square"></i>
        </a>
        {% endif %}

        {% if author.twitter %}
        <a class="button button--primary button--pill" href="https://twitter.com/{{ author.twitter }}">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}

        {% if author.facebook %}
        <a class="button button--primary button--pill" href="https://facebook.com/{{ author.facebook }}">
          <i class="fab fa-fw fa-facebook-square"></i>
        </a>
        {% endif %}

        {% if author.linkedin %}
        <a class="button button--primary button--pill" href="https://www.linkedin.com/in/{{ author.linkedin }}">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if author.github %}
        <a class="button button--primary button--pill" href="https://github.com/{{ author.github }}">
          <i class="fab fa-fw fa-github"></i>
        </a>
        {% endif %}

      {% if author.content %}
      <div class="author__bio" itemprop="description">
        {{ author.content | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
  <br>
  {% endfor %}
</figure>
