body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4 {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.header__brand > a {
  font-size: 22px;
}

.navigation__item > a {
  font-size: 18px;
}
